.main__menu
    ul.menu
        li(class="user__menu"): a(class=`link user__name ${title.includes('Account') ? 'active' : ''}`) Hello #{user.name}
                a(href="/me" class="user__links") User Info
                a(href="#" class="user__links logout") Log Out
        li: a(href="/" class=`link ${title === 'Home Page' ? 'active' : ''}`) Home
        li: a(href="/addissue" class=`link ${title === 'Add Issue Page' ? 'active' : ''}`) Add Issue
        li: a(href="/issues" class=`link ${title === 'Find Issues Page' ? 'active' : ''}`) Issues
        //- li: a(href="/users" class=`link ${title === 'User List' ? 'active' : ''}`) User List